In [20]:
class Item:
    def calculate_total_price(self,x,y):
        return x*y

In [25]:
item1 = Item()
item1.name = "Phone"
item1.price = 100
item1.quantity = 5

In [26]:
print(item1.calculate_total_price(item1.price,item1.quantity))

500

In [6]:
print(type(item1))
print(type(item1.name))
print(type(item1.price))
print(type(item1.quantity))

<class '__main__.Item'>
<class 'str'>
<class 'int'>
<class 'int'>

In [22]:
item2 = Item()
item2.name = "Laptop"
item2.price = 1000
item2.quantity = 3

In [23]:
print(item2.calculate_total_price(item2.price,item2.quantity))

3000

In [67]:
class Item:
    
    def __init__(self,name: str,price: float,quantity=0):
        #Run validations to the received arguments
        assert price >= 0, f"price {price} is not greater than or equal to zero"
        assert quantity >= 0,  f"quantity {quantity} is not greater than or equal to zero"
        #Assign to self objects
        self.name = name
        self.price = price
        self.quantity = quantity
        
    def calculate_total_price(self):
        return self.price * self.quantity

In [71]:
item3 = Item("Phone",100,6)

In [61]:
print(item3.name)
print(item3.price)
print(item3.quantity)

Phone
100
6

In [62]:
print(item3.calculate_total_price())

100100100100100100

#### Class Attributes

In [92]:
class Item:
    pay_rate = 0.8 # The pay rate after 20% discount
    
    def __init__(self,name: str,price: float,quantity=0):
        #Run validations to the received arguments
        assert price >= 0, f"price {price} is not greater than or equal to zero"
        assert quantity >= 0,  f"quantity {quantity} is not greater than or equal to zero"
        #Assign to self objects
        self.name = name
        self.price = price
        self.quantity = quantity
        
    def calculate_total_price(self):
        return self.price * self.quantity

    def apply_discount(self):
        self.price = self.price * self.pay_rate

In [73]:
print(Item.pay_rate)

0.8

In [75]:
item4 = Item("Phone",100,6)

In [76]:
print(item4.pay_rate)

0.8

In [80]:
#To get all the attributes for class level
print(Item.__dict__)

{'__module__': '__main__', 'pay_rate': 0.8, '__init__': <function Item.__init__ at 0x71498e88c0e0>, 'calculate_total_price': <function Item.calculate_total_price at 0x71498e88f1a0>, '__dict__': <attribute '__dict__' of 'Item' objects>, '__weakref__': <attribute '__weakref__' of 'Item' objects>, '__doc__': None}

In [79]:
#To get all the attributes for Instance level
print(item4.__dict__)

{'name': 'Phone', 'price': 100, 'quantity': 6}

In [90]:
item5 = Item("Phone",100,6)

In [91]:
item5.apply_discount()
item5.price

80.0

In [149]:
import pandas as pd
import csv
class Item:
    pay_rate = 0.8 # The pay rate after 20% discount
    all = []
    def __init__(self,name: str,price: float,quantity=0):
        #Run validations to the received arguments
        assert price >= 0, f"price {price} is not greater than or equal to zero"
        assert quantity >= 0,  f"quantity {quantity} is not greater than or equal to zero"
        #Assign to self objects
        self.name = name
        self.price = price
        self.quantity = quantity

        #Execute actions
        Item.all.append(self)
    def __repr__(self):
        return f"Item('{self.name},{self.price},{self.quantity}')"
        #return f"({self.name},{self.price},{self.quantity})"
        
    def calculate_total_price(self):
        return self.price * self.quantity

    def apply_discount(self):
        self.price = self.price * self.pay_rate

    #class method - 
    @classmethod
    def instantiate_from_csv(cls):
        with open('items.csv','r') as f:
            # reader = pd.read_csv(f)
            reader = csv.DictReader(f)
            items = list(reader)
        for item in items:
            Item(
                name = item.get('name'),
                price = float(item.get('price')),
                quantity = int(item.get('quantity')),
            )

    @staticmethod
    def is_integer(num):
        # we will count out the float that are point zero
        if isinstance(num,float):
            # count out the floats that are point zero
            return num.is_integer()
        elif isinstance(num,int):
            return True
        else:
            return False

In [145]:
item6 = Item("Laptop",800,10)

In [146]:
print(item6.all)

[Item('Laptop,800,10')]

In [147]:
Item.instantiate_from_csv()

In [148]:
print(item6.all)

[Item('Laptop,800,10'), Item('Phone,100.0,1'), Item('Laptop,1000.0,3'), Item('Cable,10.0,5'), Item('Mouse,50.0,5'), Item('Keyboard,75.0,5')]

In [139]:
data = pd.read_csv('items.csv')
data.head()

       name  price  quantity
0     Phone    100         1
1    Laptop   1000         3
2     Cable     10         5
3     Mouse     50         5
4  Keyboard     75         5

In [140]:
print(Item.instantiate_from_csv())

None

In [152]:
print(Item.is_integer(7.0))

True