In [1]:
from warnings import filterwarnings
import pandas as pd
import numpy as np

In [2]:
filterwarnings('ignore')

<h4 align='left' style='color:blue'>DataFrame method in pandas </h4>

In [3]:
# Syntax for the Dataframe function
# DataFrame( data=None,
#            index=None, 
#            columns=None, 
#            dtype=None, 
#            copy=None )

# Two-dimensional, size-mutable, potentially heterogeneous tabular data.
#

In [4]:
# constructing  a dataframe from a nested list, each list becomes a row
list_1 = [12,15,18,23,28]
list_2 = [16,19,26,20,11]
data_1 = pd.DataFrame([list_1,list_2],
                      columns=['column_1','column_2',
                               'column_3','column_4','column_5'],
                      dtype=np.int8)
print(data_1)

   column_1  column_2  column_3  column_4  column_5
0        12        15        18        23        28
1        16        19        26        20        11

In [5]:
# zip() in python when combining two or more lists together
list1 = [12,56,78,71]
list2 = ['John','Mark','Daniel']
combined = zip(list2,list1)
print(combined)

<zip object at 0x77c083b66d00>

In [6]:
print(tuple(combined))

(('John', 12), ('Mark', 56), ('Daniel', 78))

In [7]:
#iterating through elements in a zip object
list1 = [12,56,78,71]
list2 = ['John','Mark','Daniel']
for name,marks in zip(list2,list1):
    print(f'{name} has {marks} marks')

John has 12 marks
Mark has 56 marks
Daniel has 78 marks

In [8]:
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']

# list of int
lst2 = [11, 22, 33, 44, 55, 66, 77]

# Calling DataFrame constructor after zipping
# both lists, with columns specified
df = pd.DataFrame(list(zip(lst, lst2)),
               columns =['Name', 'val'])
print(df)

     Name  val
0   Geeks   11
1     For   22
2   Geeks   33
3      is   44
4  portal   55
5     for   66
6   Geeks   77

In [9]:
my_tuple = (12,67,33,(23,54))
my_list = list(my_tuple)
print(my_list)

[12, 67, 33, (23, 54)]

In [10]:
# zip() function
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")
x = zip(a, b)#
#print(x)
#use the tuple() function to display a readable version of the result:
#print(tuple(x))

combined_list = list(x)
print(combined_list)

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]

In [11]:
names = ['John','Emmanuel','Henry']
marks = [67,70,90]
zipped_obj = zip(names,marks)
compressed_list = list(zipped_obj)
print(compressed_list)

[('John', 67), ('Emmanuel', 70), ('Henry', 90)]

In [12]:
# constructing a dataframe from a dictionary, each key becomes a column
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d,
                  dtype=np.int8)
df

   col1  col2
0     1     3
1     2     4

In [13]:
#Constructing DataFrame from numpy ndarray:
df2 = pd.DataFrame(np.array([[1, 2, 3], 
                             [4, 5, 6], 
                             [7, 8, 9]]),
                       columns=['a', 'b', 'c'],dtype=np.int16)
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [14]:
#Constructing DataFrame from numpy ndarray:
df3 = pd.DataFrame(np.array([[1, 2, 3], 
                             [4, 5, 6], 
                             [7, 8, 9]]),
                       columns=['a', 'b', 'c'],
                       dtype=np.int16,
                       index=['ob_1','ob_2','ob_3'],
                       copy=True)
df3

      a  b  c
ob_1  1  2  3
ob_2  4  5  6
ob_3  7  8  9

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int16
 1   b       3 non-null      int16
 2   c       3 non-null      int16
dtypes: int16(3)
memory usage: 150.0 bytes

In [16]:
# Constructing a dataframe from a list of dictionaries, each dictionary becomes a row
data = [
    {'A': 1, 'B': 2},
    {'A': 3, 'B': 4, 'C': 5}
]

df = pd.DataFrame(data)
df

   A  B    C
0  1  2  NaN
1  3  4  5.0

In [22]:
# Constructing DataFrame from a dictionary including Series:

d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
pd.DataFrame(data=d, index=[0, 1, 2, 3])

   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

In [18]:
print(d)

{'col1': [0, 1, 2, 3], 'col2': 2    2
3    3
dtype: int64}

In [19]:
# Series in python
ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
df = pd.DataFrame(data=ser, index=["a", "c"])
print(df)

   0
a  1
c  3

In [20]:
ser.info()

<class 'pandas.core.series.Series'>
Index: 3 entries, a to c
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      int64
dtypes: int64(1)
memory usage: 156.0+ bytes