In [2]:
import pandas as pd
import numpy as np

# syntax
DataFrame.drop_duplicates(subset=None, *,
                          keep='first',
                          inplace=False, 
                          ignore_index=False)

Return DataFrame with duplicate rows removed.

In [3]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})

df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

By default use all of the columns.

In [4]:
df.drop_duplicates(keep='first')

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

To remove duplicates on specific column(s), use subset.

In [7]:
df.drop_duplicates(subset=['style','rating'],keep='first')

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [8]:
df.drop_duplicates(subset=['style'],keep='first')

     brand style  rating
0  Yum Yum   cup     4.0
3  Indomie  pack    15.0