In [1]:
import pandas as pd

syntax

DataFrame.insert(loc, column, value, allow_duplicates=<no_default>)

In [3]:
df = pd.DataFrame(
    {
        'name':['Murunga','Onyango','Akinyi'],
        'marks':[66,89,99]
    }
)

In [6]:
df.insert(0,'id',[1,2,3])

ValueError: cannot insert id, already exists

In [5]:
df

   id     name  marks
0   1  Murunga     66
1   2  Onyango     89
2   3   Akinyi     99