In [1]:
import pandas as pd

Whether each element in the DataFrame is contained in values.

In [2]:
df = pd.DataFrame({'num_legs': [2, 4], 'num_wings': [2, 0]},
                  index=['falcon', 'dog'])

In [5]:
df

        num_legs  num_wings
falcon         2          2
dog            4          0

When values is a list check whether every value in the DataFrame is present in the list (which animals have 0 or 2 legs or wings)

In [3]:
df.isin([0, 2])

        num_legs  num_wings
falcon      True       True
dog        False       True

To check if values is not in the DataFrame, use the ~ operator:

In [8]:
~df.isin([0, 2])

        num_legs  num_wings
falcon     False      False
dog         True      False

When values is a dict, we can pass values to check for each column separately:

In [7]:
df.isin({'num_wings': [0, 3]})

        num_legs  num_wings
falcon     False      False
dog        False       True