In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [7]:
df.rename(columns={"A": "a", "B": "c"})

   a  c
0  1  4
1  2  5
2  3  6

In [8]:
df.rename({"A": "a", "B": "c"},axis=1)

   a  c
0  1  4
1  2  5
2  3  6