In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(dict(name=['Raphael', 'Donatello'],
                       age=[26, 45],
                       height=[181.23, 177.65]))
df

        name  age  height
0    Raphael   26  181.23
1  Donatello   45  177.65

In [3]:
print(df.to_latex(index=False,
                  columns=['name','age','height'],
                  column_format='rlc',
                  formatters={"name": str.capitalize},
                  float_format="{:.1f}".format,
                  label='Murunga'
))

\begin{table}
\label{Murunga}
\begin{tabular}{rlc}
\toprule
name & age & height \\
\midrule
Raphael & 26 & 181.2 \\
Donatello & 45 & 177.7 \\
\bottomrule
\end{tabular}
\end{table}